:root {
  --primary-pink: #ed3984;
  --primary-gradient: linear-gradient(90deg, #ed3984, #7552c8);
  --neutral-white: #fff;
  --neutral-dark: #07061f;
  --neutral-light-grey: #bfbfbf;
  --system-light-pink: #fde8f0;
  --system-light-purple: #efdaf3;
  --grey: #f4f4f4;
}

body,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
var,
b,
u,
i {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  line-height: 1;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar-thumb {
  background-color: var(--system-light-purple);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track:start {
  background-color: var(--system-light-pink);
}
